body {
    background-color: #fff;
    text-align: center;
}

.navbar {
    background-color: #f0f0f0;
}

.purple-text{
    color: #a403bf;
}

.purple{
    background-color: #7b0191;
}

a {
    color: #9c27b0;
}

a:hover {
    color: #f0f0f0;
  }